body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
p {
  text-align: justify; /* Aligns the text to the center */
  width: 90%; /* Sets the width of the paragraph to 80% of its container */
  margin: 0 auto; /* Centers the paragraph horizontally */
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.screenshots {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.screenshot {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  padding: 20px; /* Added padding */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.screenshot img {
  width: 300px;
  height: auto;
}

.screenshot .description {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  margin-left: 20px; /* Added margin for horizontal distance */
}


.features {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.features h2 {
  color: #333;
  text-align: center;
  
}
.features h3 {
  color: #333;
  text-align: center;
  
}

.features ul {
  list-style: none;
  padding: 0;
  text-align: justify;
}

.features li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.features li:before {
  content: "\2022";
  position: absolute;
  left: 0;
  color: #333;
}

.description {
  background-color: transparent;
  padding: 20px 10px; /* Adjust the padding as needed */
  max-width: 600px; /* Set the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
}

.description p {
  background-color: transparent;
  color: rgb(12, 11, 11);
  text-align: justify;
}
.description h4 {
  color:black;
  text-align: justify;
  padding: 40px 40px; /* Adjust the padding as needed */
  max-width: 1000px; /* Set the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
  background-color: rgb(235, 241, 248);
}

.description h2 {
  color: #333;
}

footer {
  background-color: transparent;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}
