* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 30px;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(background.jpg);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 18px;
}

.navbar ul li a:hover {
  transform: scale(1.1);
}

.contact-details {
  background-color: #f2f2f2;
  padding: 20px;
  color: #333;
}

.contact-details h3 {
  margin-top: 0;
}

.contact-details p {
  margin-bottom: 10px;
}

.welcome-statement {
  background-color: #f2f2f2;
  color: #333;
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-top: 0;
}

p {
  font-size: 18px;
  margin-top: 0;
  text-align: justify;
}
